OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-5-mini

# Google Gemini API for paper chat assistant
GEMINI_API_KEY=
GEMINI_MODEL=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com


NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
